button {
    cursor: pointer;
    margin: 0 5px;
    padding: 8px;
    background-color: rgb(143, 255, 143);
    border-radius: 5%;
    border: none;
    outline: none;
    &:hover {
        background-color:orange;
    }
}