.countries-list {
  list-style-type: none;
  margin-top: 15px;
  .countries-list-item {
    padding-bottom: 25px;
    .countries-list-item-single {
      background-color: rgb(204, 255, 204);
    }
    div span {
      font-weight: bold;
    }
  }
}