@media only screen and (max-width: 750px) {
  .countries {
    padding: 0;
  }
  .countries-header {
    text-align: center;
    .sort-and-filter-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      div {
        display: block;
        button {
          margin-bottom: 25px;
        }
        .filter-options {
          display: flex;
          flex-direction: column;
          label {
            display: block;
            margin-bottom: 10px;
          }
          button {
            margin: 10px 0;
          }
        }
      }
    }
  }
  .countries-list {
    text-align: center;
  }
  nav .pagination {
    display: flex;
    flex-wrap: wrap;
  }
}
